<div class="blog_library">
    {{#each posts}}
        <div class="render_panel">
            <h2 class="render_title">{{title}}</h2>
            <h3 class="render_disc">{{description}}</h3>
        </div>
    {{/each}}
</div>