a{
    color: #b2aefc;
}

input{
    background-color:#b2aefc;;
    border-radius: 10px;
    height: 30px;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
}

textarea{
    background-color:#b2aefc;;
    border-radius: 10px;
    max-width: 500px;
    min-height: 40px;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px; 
}
body{
    background-color: #514F74;
    font-family: "Montserrat", sans-serif;
}
.header_title{
    color: #9B96F2;
    font-size: 60px;
}

.main_title{
    color: #b2aefc;
    font-size: 27px;
    display: flex;
}

.post_submit{
    color: #9F9DC8;
    font-size: 35px;

}

.render_panel{
    background-color: #272548;
    border-radius: 20px;
    max-width: 650px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.render_title{
    word-wrap: break-word;
    font-size: 30px;
    color: #b2aefc;
}
.render_disc{
    word-wrap: break-word;
    color: #9B96F2;
}

.edit_div,
.remove_form,
.add_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_big_title{
    color: #9B96F2;
    font-size: 60px;
    margin-bottom: 20px;
}
.container {
    width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
  }



.remove_posts{
        padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }